<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461520455599-hv5jb87ukof3qld7oed6ri1jhbtknvk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461520455599-hv5jb87ukof3qld7oed6ri1jhbtknvk0</string>
	<key>API_KEY</key>
	<string>AIzaSyBhBht_z-Rmsr94OBkUbhhf9CRo7dc2S7U</string>
	<key>GCM_SENDER_ID</key>
	<string>461520455599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Dyafah</string>
	<key>PROJECT_ID</key>
	<string>dyafah-aef3f</string>
	<key>STORAGE_BUCKET</key>
	<string>dyafah-aef3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461520455599:ios:3cd4fe78ef95db5963115a</string>
	<key>DATABASE_URL</key>
	<string>https://dyafah-aef3f.firebaseio.com</string>
</dict>
</plist>